@import "../../styles/variables"
.btn
  -moz-appearance: none
  -webkit-appearance: none
  background: none
  border: none
  outline: none
  font-size: inherit
  margin: 5px
  &:focus, .btn-content:focus
    outline: none
    > .btn-content
      box-shadow: 0 0 2px 2px #51a7e8

.btn-content
  background-color: white
  border: 1px solid #EEEEEE
  display: inline-block
  outline: none
  padding: .375rem .75rem
  text-align: center
  font-size: 1rem
  line-height: 1.5
  transition: 0.1s linear
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
  &:hover
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)
  &:active
    box-shadow: none

.btn-primary
  background-color: $color-primary
  border-color: $color-primary
  color: white
.btn-warning
  background-color: $color-warning
  border-color: $color-warning
.btn-danger
  background-color: $color-danger
  border-color: $color-danger
  color: white
.btn-success
  background-color: $color-success
  border-color: $color-success
  color: white

.btn-small
  font-size: .875rem
  padding: .25rem .5rem
.btn-large
  font-size: 1.25rem
  padding: .5rem 1rem

.btn-ghost
  border:
    width: 1px
  color: white
  background-color: transparent
