.dot-grid {
	overflow:auto;
	background: url('../images/wires-grid.gif');
	position:relative;
	border:1px solid gray;
	background-position:-1px 0px;
	cursor:crosshair;
	width: 500px;
	height: 500px;
}